body {
    background-color:#F5F5F5;
}

.main {
    width: 650px;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    width: 152px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.field-add-button {
    height: 34px;
}

.field-add-button.glyphicon-plus {
    font-size: 16px;
}