.collapse-lines {
    float: right;
    line-height: 31px;
    margin-right: 10px;
}

.collapse-lines input {
    margin-right: 3px;
}

.collapse-lines label {
    margin-left: 10px;
}

.js-selectable-text,
.user-select-contain {
    cursor: pointer;
}

.bottom-collapse {
    cursor: pointer;
    font: 13px/1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    text-align: center !important;
    margin: 0;
    padding: 2px;
    background-color: #f7f7f7;
    border-top: 1px solid #d8d8d8
}
