.collapse-lines {
    position: relative;
    display: block;
    float: left;
    margin-right: 10px;
}

.collapse-lines input {
    margin-right: 3px;
}

.collapse-lines label {
    margin-left: 10px;
}

.js-selectable-text {
    cursor: pointer;
}

.js-comment-and-button {
    margin-right: 60px;
}

.bottom-collapse {
	cursor: pointer;
	font-family: Monaco, 'Liberation Mono', Courier, monospace;
	text-align: center !important;
	position: relative;
	bottom: 0px;
	width: 100%;
}

.autoHeight {
	height: auto !important;
}

.view-modes {
	bottom: 25px !important;
}