.collapse-lines {
    float: right;
    line-height: 33px;
    margin-right: 10px;
}

.collapse-lines input {
    margin-right: 3px;
}

.collapse-lines label {
    margin-left: 10px;
}

.js-selectable-text {
    cursor: pointer;
}

.bottom-collapse {
	cursor: pointer;
	font-family: Monaco, 'Liberation Mono', Courier, monospace;
	text-align: center !important;
    margin: 0;
}

.bottom-collapse {
	cursor: pointer;
	font-family: Monaco, 'Liberation Mono', Courier, monospace;
	text-align: center !important;
    margin: 0;
}

.bottom-collapse.meta {
    border-bottom: none !important;
}